# {{ ansible_managed }}

{% if git_config %}
{% for section, options in git_config.items() %}
[{{ section }}]
{% for key, value in options.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
